In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Read COVID-19 data file
covid19data_path = "Resources/CRDTData.csv"
covid19_initial_results_main = pd.read_csv(covid19data_path)
covid19_initial_results = covid19_initial_results_main.copy()
covid19_initial_results

,Date,State,Cases_Total,Cases_White,Cases_Black,Cases_Latinx,Cases_Asian,Cases_AIAN,Cases_NHPI,Cases_Multiracial,...,Tests_Latinx,Tests_Asian,Tests_AIAN,Tests_NHPI,Tests_Multiracial,Tests_Other,Tests_Unknown,Tests_Ethnicity_Hispanic,Tests_Ethnicity_NonHispanic,Tests_Ethnicity_Unknown
0,20210307,AK,59332.0,18300.0,1499.0,NaN,2447.0,12238.0,1508.0,4453.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20210307,AL,499819.0,160347.0,82790.0,NaN,2273.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20210307,AR,324818.0,207596.0,50842.0,NaN,2913.0,1070.0,3358.0,1804.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20210307,AS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20210307,AZ,826454.0,308453.0,25775.0,244539.0,11921.0,40707.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5315,20200412,VT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5316,20200412,WA,10411.0,2903.0,289.0,1180.0,451.0,41.0,61.0,112.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5317,20200412,WI,3341.0,1680.0,857.0,NaN,81.0,28.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5318,20200412,WV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5319,20200412,WY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
#Create Case Total Dataframe
covid_case_totals = covid19_initial_results.groupby(['State']).sum()[['Cases_Total', 'Cases_White', 'Cases_Black',
                                                              'Cases_Latinx', 'Cases_Asian', 'Cases_AIAN',
                                                              'Cases_NHPI', 'Cases_Multiracial', 'Cases_Other', 'Cases_Unknown']]

covid_case_totals.head()

,Cases_Total,Cases_White,Cases_Black,Cases_Latinx,Cases_Asian,Cases_AIAN,Cases_NHPI,Cases_Multiracial,Cases_Other,Cases_Unknown
State,,,,,,,,,,
AK,1855334.0,574849.0,56782.0,0.0,73005.0,373509.0,54235.0,127827.0,195309.0,404626.0
AL,17861341.0,5601494.0,3373720.0,0.0,70420.0,0.0,0.0,0.0,1414517.0,7370988.0
AR,10837342.0,6652666.0,1890196.0,0.0,105929.0,31859.0,195756.0,61984.0,634159.0,1238177.0
AS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AZ,27502303.0,8458144.0,815793.0,7948222.0,332233.0,1458070.0,0.0,0.0,1195855.0,7302572.0

In [82]:
#Re-Index 
#covid_case_totals.reset_index().head()
covid_case_totals = covid_case_totals.reset_index()

In [83]:
#Case Totals for neighboring states
covid_case_totals_nbr = covid_case_totals.loc[(covid_case_totals['State'] == 'NC') |
                                                  (covid_case_totals['State'] == 'SC') |
                                                  (covid_case_totals['State'] == 'GA') |
                                                  (covid_case_totals['State'] == 'VA')]

covid_case_totals_nbr

,State,Cases_Total,Cases_White,Cases_Black,Cases_Latinx,Cases_Asian,Cases_AIAN,Cases_NHPI,Cases_Multiracial,Cases_Other,Cases_Unknown
11,GA,32518378.0,10976669.0,8186713.0,3682675.0,581186.0,18951.0,29094.0,3.0,1033443.0,7886095.0
30,NC,27575285.0,13422999.0,4727544.0,0.0,416843.0,349057.0,13115.0,0.0,3103452.0,5509401.0
44,SC,16811587.0,7153989.0,3780225.0,731.0,158259.0,0.0,0.0,0.0,1525492.0,4151482.0
49,VA,18897177.0,6711997.0,3243142.0,3317413.0,586774.0,22913.0,0.0,171179.0,596778.0,4196242.0

In [36]:
covid_deaths_totals = covid19_initial_results.groupby(['State']).sum()[['Deaths_Total', 'Deaths_White', 'Deaths_Black',
                                                              'Deaths_Latinx', 'Deaths_Asian', 'Deaths_AIAN',
                                                              'Deaths_NHPI', 'Deaths_Multiracial', 'Deaths_Other',
                                                              'Deaths_Unknown']]

covid_deaths_totals.head()

,Deaths_Total,Deaths_White,Deaths_Black,Deaths_Latinx,Deaths_Asian,Deaths_AIAN,Deaths_NHPI,Deaths_Multiracial,Deaths_Other,Deaths_Unknown
State,,,,,,,,,,
AK,9027.0,3536.0,293.0,0.0,869.0,3202.0,634.0,157.0,62.0,244.0
AL,299052.0,147134.0,88269.0,0.0,865.0,0.0,0.0,0.0,7752.0,54320.0
AR,173269.0,122609.0,28447.0,0.0,1347.0,398.0,3312.0,521.0,6978.0,9604.0
AS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AZ,552196.0,246312.0,15778.0,158204.0,6473.0,55350.0,0.0,0.0,12094.0,54316.0

In [46]:
#covid_deaths_totals.reset_index().head()
covid_deaths_totals = covid_deaths_totals.reset_index()

In [77]:
#covid_deaths_totals_nc = covid_deaths_totals.loc[covid_deaths_totals['State'] == 'NC']
covid_deaths_totals_nbr = covid_deaths_totals.loc[(covid_deaths_totals['State'] == 'NC') |
                                                  (covid_deaths_totals['State'] == 'SC') |
                                                  (covid_deaths_totals['State'] == 'GA') |
                                                  (covid_deaths_totals['State'] == 'VA')]

covid_deaths_totals_nbr

,index,State,Deaths_Total,Deaths_White,Deaths_Black,Deaths_Latinx,Deaths_Asian,Deaths_AIAN,Deaths_NHPI,Deaths_Multiracial,Deaths_Other,Deaths_Unknown
11,11,GA,674641.0,328278.0,245390.0,36299.0,11267.0,606.0,543.0,0.0,2271.0,50090.0
30,30,NC,388209.0,232906.0,101706.0,0.0,4495.0,4533.0,244.0,0.0,23861.0,20464.0
44,44,SC,314393.0,160259.0,99050.0,0.0,2155.0,0.0,0.0,0.0,9943.0,43131.0
49,49,VA,319239.0,184300.0,77269.0,25714.0,12697.0,529.0,0.0,1755.0,5384.0,11553.0